### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule Menu-Główne index.html
RewriteRule Kim-Jestem kimjestem.html
RewriteRule Wykształcenie-Programisty wykształcenie.html
RewriteRule Oferta-Strony-WWW oferta.html
RewriteRule Kontakt-Z-Programistą kontakt.html